<div class="row" >
  <div class="col-md-6 col-md-offset-3" >
    <h1>Assign trainees to the course</h1>
    <%= bootstrap_form_for @course, url: supervisor_course_assign_trainees_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'assign_trainees', f: f %>
      <%= f.submit t(:submit), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
