<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= task.id %>"  aria-expanded="true" aria-controls="collapseOne">
        <%= task.title %>
      </a>
    </h4>
  </div>
  <div id="<%= task.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <%= task.content %>
    </div>
  </div>
</div>
