<% provide :title, t(:all_courses) %>
<h1> All Courses </h1>
<%= will_paginate %>
<ul class="courses" >
  <% @courses.each do |course| %>
    <p><%= render course %></p>
  <% end %>
</ul>
<%= will_paginate %>
