<% provide :title, t(:all_courses) %>
<h1> All Courses </h1>
<%= will_paginate %>
<ul class="courses" >
  <% @courses.each do |course| %>
    <%= link_to course.course_code, supervisor_course_path(course) %>
    <br><br>
  <% end %>
</ul>
<%= will_paginate %>
