<% provide :title, 'All Courses' %>
<h1> Subjects </h1>
<%= will_paginate %>
<li class="subject">
  <% @subjects.each do |subject| %>
    <%= render subject %>
    <%= link_to "view", supervisor_subject_path(subject) %>
  <% end %>
</li>
<%= will_paginate %>
