<% provide :title, @subject.name %>
<div class="panel panel-info">
  <div class="alert alert-info" role="alert">
    <h3><%= link_to @subject.name, @subject %></h3>
    <span class="timestamp">
      Posted <%= time_ago_in_words @subject.created_at %> ago.
      <%= link_to t(:delete_link), @subject, method: :delete,
                                data: {confirm: t(:confirm_notification)} %>
    </span>
  </div>
  <span class="content">
    <%= @subject.instruction %>
  </span>
</div>
